/* استيراد خط عربي */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(to bottom, #0044a3, #dfe9f3);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    margin: 50px auto;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group i {
    position: absolute;
    left: 15px;
    color: #666;
    font-size: 16px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: right;
}

select {
    appearance: none;
    background-color: white;
    cursor: pointer;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

button {
    background-color: #0044a3;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

button:hover {
    background-color: #003366;
}